<!DOCTYPE html>
<html lang="ro">

<head>
  <%- include('../fragmente/head') %>

  <link rel="stylesheet" href="/resurse/css/galerie.css" type="text/css" />
  <link rel="stylesheet" href="/resurse/css/galerie-animata.css" type="text/css">

</head>

<body class="dark">

  <%- include('../fragmente/header') %>

  <main>
    <section id="galerie-statica">
      <h2>Galerie Statica</h2>
      <%- include('../fragmente/galerie') %>
    </section>

    <section id="galerie-animata-s">
      <h2>Galerie Animata</h2>
      <div class="galerie-animata" id="galanim" style="--nrImg: <% locals.nrImagini %>">

        <% var i=0; %>
        <% for (let imag of locals.imgInv) { %>
        <% i=i + 1; %>
        <% if(i> locals.nrImagini) { break; }%>

        <% var nume_imag=imag.fisier.split('\\'); %>
        <% nume_imag=nume_imag[nume_imag.length - 1]; %>

        <figure>
          <picture>
            <source srcset="<%- imag.fisier_mic %>" media="(max-width:700px)" />
            <source srcset="<%- imag.fisier_mediu %>" media="(max-width:1400px)" />
            <img src="<%- imag.fisier %>" alt=" <%- imag.alt || nume_imag %> ">
          </picture>
          <figcaption><%- imag.attribution || imag.descriere %></figcaption>
        </figure>

        <% } %>
        <div id="spacer"></div>
      </div>
    </section>
  </main>

  <%- include ('../fragmente/footer') %>

</body>

</html>