<!DOCTYPE html>
<html lang="ro">

<head>

  <meta name="keywords" content="proiect, tehnici web, HTML, CSS, electronice, magazin, magazin electronice, vanzare, componente, telefon, produse">
  <meta name="description" content="Magazin de electronice. Proiect pentru cursul de Tehnici Web.">
  <title><%- locals.produs.nume %></title>

  <%- include('../fragmente/head') %>

</head>

<body class="dark">
  <%- include('../fragmente/header') %>

  <main>
    <div class="produs container">
      <h2 class="p-2 text-primary"><%-  locals.produs.nume %></h2>

      <div class="row">
        <div class="col-sm-6">
          <p><%- locals.produs.descriere %></p>
          <p><%- locals.produs.pret %> lei</p>
          <p><%- locals.produs.categorie %></p>
          <p><%- locals.produs.subcategorie %></p>
          <p><%- locals.produs.accesorii %></p>
          <p><%- locals.produs.dataLansare.toISOString().split('T')[0] %></p>
          <p><%- locals.produs.dimensiuni %></p>
          <p><%- locals.produs.culoare %></p>
          <p><%- locals.produs.fragil ? 'Fragil' : '' %></p>

          <button class="btn btn-outline-primary">Adauga in cos</button>

        </div>

        <div class="col-sm-6 w-25">
          <img class="img-fluid rounded-2" src="<%- locals.produs.poza %>" alt="<%- locals.produs.nume %>">
        </div>
      </div>
    </div>
  </main>

  <%- include ('../fragmente/footer') %>
</body>

</html>