<!DOCTYPE html>
<html lang="ro">

<head>

  <meta name="keywords" content="proiect, tehnici web, HTML, CSS, electronice, magazin, magazin electronice, vanzare, componente, telefon, produse">
  <meta name="description" content="Magazin de electronice. Proiect pentru cursul de Tehnici Web.">
  <title>Produse</title>

  <%- include('../fragmente/head') %>

  <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
  <script type="text/javascript" src=/resurse/js/produse.js></script>

</head>

<body class="dark">
  <%- include('../fragmente/header') %>

  <main>
    <div class="row">
      <div class="col-md-1">
        <h2>Produse</h2>
      </div>
      <div class="col-md-3 p-3">
        <div class="form-check form-switch form-floating">
          <input class="form-check-input mx-3" type="checkbox" role="switch" id="search-switch" />
          <label class="form-check-label pb-5" for="search-switch">Cautare avansata</label>
        </div>
      </div>

    </div>
    <div class="container-fluid" id="search-produse">
      <div class="row m-2">
        <div class="col-md m-1">
          <div class="form-floating">
            <input type="text" list="cuvinte-cheie" class="form-control" id="inpCheie" name="cheie" placeholder="Cauta dupa cuvinte cheie">
            <label for="cheie" class="text-primary">Cuvinte cheie</label>
          </div>

          <datalist id="cuvinte-cheie">
            <% for (let cheie of locals.chei) { %>
            <option value="<%- cheie %>">
              <% } %>
          </datalist>

        </div>
        <div class="col-md m-1">
          <div class="form-floating">
            <input type="textarea" list="lista-nume" class="form-control" id="inpNume" name="nume" placeholder="Cauta dupa nume">
            <label for="nume" class="text-primary">Nume</label>
          </div>

          <datalist id="lista-nume">
            <% for (let nume of locals.nume) { %>
            <option value="<%- nume %>"><%- nume %></option>
            <% } %>
          </datalist>

        </div>
        <div class="col-md m-1">
          <div class="form-floating">
            <select id="inpSubcategorie" name="subcategorie" class="form-select">
              <option value="toate" selected>Toate</option>
              <% for (let subcategorie of locals.subcategorii) { %>
              <option value="<%- subcategorie %>"><%- subcategorie %></option>
              <% } %>
            </select>
            <label for="subcategorie" class="text-primary font-weight-bold">Subcategorie</label>
          </div>
        </div>
        <div class="col-md-1 m-1 noutati d-flex align-items-center justify-content-center">
          <button id="buton-inpNoutati" class="btn btn-primary" data-bs-toggle="button" for="noutati">Noutati
            <input type="checkbox" id="inpNoutati" name="noutati" value="noutati" autocomplete="false">
          </button>
        </div>
        <div class="col-md-4 m-1">
          <div class="form-floating">
            <select id="inpAccesorii" class="form-select w-auto" name="accesorii" multiple>
              <% for (let accesoriu of locals.accesorii) { %>
              <option value="<%- accesoriu %>"><%- accesoriu %></option>
              <% } %>
            </select>
            <label for="acesorii" class="text-primary">Accesorii</label>
          </div>
        </div>

      </div>
      <div class="row m-2">
        <div class="col-md-3 m-1">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="input-group mx-auto w-80">
              <legend>Pret</legend>

              <span class="input-group-text rounded-start-3"><%- locals.min %></span>
              <input type="number" class="form-control border-accent" min="<%- locals.min %>" max="<%- locals.max %>" value="0" id="valoare-pret">
              <span class="input-group-text rounded-end-3"><%- locals.max %></span>

              <input type="range" class="form-range" id="inpPret" name="pret" min="<%- locals.min %>" max="<%- locals.max %>" value="0" step="1">
            </div>
          </div>

        </div>
        <div class="col-md-3 m-1">
          <fieldset id="radio-fieldset">
            <legend>Culoare</legend>

            <div class="row ">
              <div class="col d-flex justify-content-center">
                <div class="col px-2">
                  <input type="radio" class="btn-check" id="inpCuloareToate" name="culoare" value="Toate" checked>
                  <label for="inpCuloareToate" class="btn btn-outline-secondary w-100 m-2">Toate</label>
                </div>
                <div class="col  px-2">
                  <input type="radio" class="btn-check" id="inpCuloareAlb" name="culoare" value="Alb">
                  <label for="inpCuloareAlb" class="btn btn-outline-secondary w-100 m-2">Alb</label>
                </div>
                <div class="col  px-2">
                  <input type="radio" class="btn-check" id="inpCuloareNegru" name="culoare" value="Negru">
                  <label for="inpCuloareNegru" class="btn btn-outline-secondary w-100 m-2">Negru</label>
                </div>
              </div>

              <div class="col d-flex justify-content-center">
                <% for (let culoare of culori) { %>
                <% if (culoare == "Toate" || culoare == "Alb" || culoare == "Negru") continue %>
                <div class="col  px-2">
                  <input type="radio" class="btn-check" id="inpCuloare<%- culoare %>" name="culoare" value="<%- culoare %>">
                  <label for="inpCuloare<%- culoare %>" class="btn btn-outline-secondary w-100 m-2"><%- culoare %></label>
                </div>
                <% } %>
              </div>

            </div>
          </fieldset>
        </div>
        <div class="col-md m-1" id="butoane">
          <legend>Butoane</legend>
          <div class="row ">
            <div class="col-3 ">
              <button class="btn btn-primary" id="filtreaza">
                <svg class="icon-butoane" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                  <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                </svg>
                <span class="text-butoane">
                  Filtreaza
                </span>
              </button>
            </div>
            <div class="col-3 ">
              <button class="btn btn-primary" id="reseteaza">
                <svg class="icon-butoane" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                  <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                </svg>
                <span class="text-butoane">
                  Reseteaza
                </span>

              </button>
            </div>
            <div class="col-3 ">
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="sorteazaDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <svg class="icon-butoane" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
                  </svg>
                  <span class="text-butoane">
                    Sorteaza
                  </span>

                </button>
                <ul class="dropdown-menu" aria-labelledby="sorteazaDropdown">
                  <li><a class="dropdown-item" href="#" id="sorteazaCresc">
                      <svg class="icon-butoane" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">
                        <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z" />
                      </svg>
                      <span class="text-butoane">
                        Sorteaza crescator
                      </span>

                    </a></li>
                  <li><a class="dropdown-item" href="#" id="sorteazaDescresc">
                      <svg class="icon-butoane" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
                        <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z" />
                      </svg>
                      <span class="text-butoane">
                        Sorteaza descrescator
                      </span>
                    </a></li>
                </ul>
              </div>
            </div>
            <div class="col-3 ">
              <button class="btn btn-secondary" id="calculeaza">Calculeaza pretul mediu</button>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-md-3">

        <% c=0; for (let produs of locals.produse) { %>

        <div class="col-md produs" id="artc-<%- produs.id %>">
          <article class="m-1 border rounded-3 border-accent ">
            <h3 class="test-primary m-3"><a href="/produse/<%- produs.id %>" class="nume"><%- produs.nume %></a></h3>

            <div class="row">
              <div class="col-md-6">
                <img src="<%- produs.poza %>" class="m-3 poza-produs" alt="<%- produs.nume %>">

                <ul class="detalii-produs">
                  <li class="m-1">
                    <span class="text-accent">Pret: </span>
                    <span class="pret"><%- produs.pret %></span>
                  </li>
                  <li class="m-1">
                    <span class="text-accent">Culoare: </span>
                    <span class="culoare"><%- produs.culoare %></span>
                  </li>
                  <li class="m-1">
                    <span class="text-accent">Accesorii: </span>
                    <span class="accesorii"><%- produs.accesorii %></span>
                  </li>
                  <li class="m-1">
                    <span class="text-accent">Data lansarii: </span>
                    <time datetime="<%- produs.dataLansare.toISOString().split('T')[0] %>"><span class="dataLansare"><%- produs.dataLansare.toISOString().split('T')[0] %></span></time>
                  </li>
                  <li class="m-1">
                    <span class="text-accent">Fragil: </span><% if (produs.fragil) { %> Da <% } else { %> Nu <% } %>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <div class="row m-1">
                  <div class="col">
                    <span class="text-accent">Categorie: </span>
                  </div>
                  <div class="col">
                    <span class="categorie"><%- produs.categorie %></span>
                  </div>
                </div>
                <div class="row m-1">
                  <div class="col">
                    <span class="text-accent">Subcategorie: </span>
                  </div>
                  <div class="col">
                    <span class="subcategorie"><%- produs.subcategorie %></span>
                  </div>
                </div>
                <div class="row m-1">
                  <div class="col">
                    <span class="text-accent">Descriere: </span>
                  </div>
                  <span class="descriere"><%- produs.descriere %></span>
                </div>
              </div>
            </div>

          </article>
        </div>

        <% } %>

      </div>
    </div>

  </main>

  <%- include ('../fragmente/footer') %>
</body>

</html>